.Container
{
    -fx-background-color: #EC3635;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-text-fill: white;
}
.button, .button:hover{
    -fx-background-color: transparent;
}
.button:pressed{
    -fx-background-color: #b02a29;
    -fx-border-radius: 60px;
    -fx-background-radius: 60px;
}

